*{
  background-color:antiquewhite;
}


*{
  font-family: "Roboto Slab", serif;
}


*{
  font-size: 2rem;
}


*{
  text-align:justify;
}


h1{
  color:rgb(7, 7, 7);
}

h1{
  background-color: rgba(240, 169, 37, 0.905);
}


#note{
  color:rgb(0, 2, 10);
}


.red-text{
  color: red;
}

.note{
  font-weight: normal;
}

img{
  height: 140px;
  width: 140px;
}

div{
    border: 5px solid rgb(18, 12, 1);
    height: 140px;
    width: 140px;
    margin: 0px;
    padding: 2px;
    }